<div class="row">
    <div class="col-4">
        <button *ngIf="activeUser | async" class="btn btn-sm btn-light  text-success ms-2" routerLink="/">Home</button>
    </div>
    <div class="col-4">
        <h4 class="text-center text-light">URL SHORTENER</h4>
    </div>

    <div class="col-4 d-flex justify-content-end">
        <button *ngIf="!(activeUser | async)" class="btn btn-sm btn-warning" routerLink="/register">Register</button>
        <button *ngIf="!(activeUser | async)" class="btn btn-sm btn-light text-success ms-2" routerLink="/signin">Log In</button>
        <button *ngIf="activeUser | async" class="btn btn-sm btn-danger ms-2" (click)="logout()">Log Out</button>
    </div>
</div>